
{erl_first_files, [ejson_trans]}.
{erl_opts, [debug_info]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{cover_export_enabled, true}.

{eunit_compile_opts, [export_all]}.

{deps, [
    {jsx, ".*",
        {git, "git://github.com/talentdeficit/jsx.git", {tag, "v1.4.4"}}},
    {proper, ".*",
        {git, "git://github.com/manopapad/proper.git"}},
    {eper, ".*",
        {git, "git://github.com/massemanet/eper.git"}}
]}.
